body{
	background-image: url("https://i.pinimg.com/originals/67/77/7b/67777bf7af908f070d7e5c6b8db159c6.jpg");
	margin: 0px;
	padding: 0px;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: black;
}

#headContainer{
	background-color: black;
	width: 70%;
	margin: 0 auto;
	color: white;
	text-align: left;
	padding: 20px;
}

#logo{
	width: 70px;
	float: left;
	margin: 10px;

}

#menu{
	background: repeating-linear-gradient(
  	-45deg,
  	#1f1f2e,
  	#1f1f2e 4px,
  	#29293d 8px,
  	#29293d 8px
	);
	padding: 20px;
	width: 70%;
	margin: 0 auto;
}

#links{
	margin: 0px;
}

a{
	color: white;
	text-decoration: none;
	margin-right: 20px; /*Used for making more space between the links*/
}

a:hover{
	text-decoration: underline;
}

.linkStyle{
	font-family: Verdana, Arial, sans-serif;
}

#main{
	column-count: 2;
	column-gap: 40px;
	
	background-color: black;
	padding: 10px;
	width: 70%;
	margin: 0 auto;
	color: white;
	padding: 20px;
}

#bethesda_logo{
	width: 100%;
	height: auto;
	float: right;
	margin: 20px;
	padding: 2px;
	background-color: white;
	max-width: 200px;
}

#main p { /*Used to make it easier to read the paragraphs*/
	line-height: 20px; 
	word-spacing: 1px;
}

#raceimage{
	width: 100%;
	height: auto;
	float: left;
	margin: 20px;
	padding: 2px;
	max-width: 500px; 

}


